= form_for (@gpx, @elevation) do |form|
  = form.text_field :chart_title
  %br
  = form.text_field :x_title
  %br
  = form.text_field :y_title
  %br
  = form.collection_radio_buttons :size, Elevation.sizes, :first, :first
  %br
  %br
  = form.submit
