.container
  %h1.text-center Elevation profiles for #{@gpx.name}
  %table
    %tr
      %th Profile name
      %th Size
      %th Date uploaded
      %th Last updated
    - @elevations.each do |g|
      %tr
        %td= g.chart_title
        %td= g.size
        %td= g.created_at
        %td= g.updated_at
        %td= link_to "See visualiziation", elevation_path(g)
        %td= link_to "Edit file", edit_elevation_path(@gpx, g)
        %td= link_to "Delete", elevation_path(g), method: :delete

  %br
  =link_to "GPX File Index", user_gpxes_path(@gpx.user_id)

