.container
  %table
    %tr
      %th File name
      %th Activity Type
      %th Date uploaded
      %th Last updated
    - @elevations.each do |g|
      %tr
        %td= g.chart_title
        %td= g.x_title
        %td= g.created_at
        %td= g.updated_at
        %td= link_to "See visualiziation", elevation_path(@gpx, g)
        / %td= link_to "Edit file", edit_gpx_path(@user, g)
        / %td= link_to "Delete", gpx_path(g), method: :delete

