.container
  %h1.text-center GPX files for #{@user.email}
  %table
    %tr
      %th File name
      %th Activity Type
      %th Date uploaded
      %th Last updated
    - @gpxes.each do |g|
      %tr
        %td= g.name
        %td= g.activity
        %td= g.created_at
        %td= g.updated_at
        %td= link_to "Topographic maps", gpx_lat_longs_path(g)
        %td= link_to "Elevation profiles", gpx_elevations_path(g)
        %td= link_to "Edit file", edit_gpx_path(g)
        %td= link_to "Delete", gpx_path(g), method: :delete

  %br
  =link_to "Create New", new_user_gpx_path

